[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
bs4 = "*"
seaborn = "*"
scipy = "*"
statsmodels = "*"
matplotlib = "*"
pandas = "*"
jupyter = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.8"
